<div class="card card-custom gutter-b">
  <!--begin::Header-->
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Pantalla Formulario de Solicitud del Permiso de Construcción  </h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">Revisión Solicitud </span>
    </div>
    <div class="card-toolbar">
      <a routerLink="/tramites/tramites-pendientes/tramites-pendientes"
         class="btn btn-light-danger font-weight-bold mr-2 text-uppercase px-9 py-4" 
         style="float:right">
         Cancelar
      </a>
    </div>
  </div>
  <!--end::Header-->
  <div class="card-body">
    <!--begin: Wizard -->
    <div
      #wizard
      class="wizard wizard-2"
      id="kt_wizard_v2"
      data-wizard-state="step-first"
    >
      <div class="wizard-nav border-right py-8 px-8 py-lg-20 px-lg-10">
        <!--begin: Form Wizard Nav -->
        <div class="wizard-steps">
          <a
            class="wizard-step"
            href="javascript:;"
            data-wizard-type="step"
            data-wizard-state="current"
          >
            <div class="wizard-wrapper">
              <div class="wizard-icon">
                <span
                  class="svg-icon svg-icon-primary svg-icon-3x"
                  [inlineSVG]="'../../../assets/media/svg/icons/General/User.svg'"
                ></span>
              </div>
              <div class="wizard-label">
                <div class="wizard-title">Información del Proyecto</div>
                <div class="wizard-desc">Nombre del proyecto, descripción del proyecto</div>
              </div>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-wrapper">
              <div class="wizard-icon">
                <span
                  class="svg-icon svg-icon-primary svg-icon-3x"
                  [inlineSVG]="'./assets/media/svg/icons/Map/Compass.svg'"
                ></span>
              </div>
              <div class="wizard-label">
                <div class="wizard-title">Ubicación del Proyecto</div>
                <div class="wizard-desc">Ubicación del Lote o Inmueble</div>
              </div>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-wrapper">
              <div class="wizard-icon">
                <span
                  class="svg-icon svg-icon-primary svg-icon-3x"
                  [inlineSVG]="
                    '../../../assets/media/svg/icons/General/Thunder-move.svg'
                  "
                ></span>
              </div>
              <div class="wizard-label">
                <div class="wizard-title">Información del Lote o Terreno</div>
                <div class="wizard-desc">Tipo de propiedad, código de ubicación, finca, tomo, folio</div>
              </div>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-wrapper">
              <div class="wizard-icon">
                <span
                  class="svg-icon svg-icon-primary  svg-icon-3x"
                  [inlineSVG]="'./assets/media/svg/icons/Map/Position.svg'"
                ></span>
              </div>
              <div class="wizard-label">
                <div class="wizard-title">Datos de la Obra</div>
                <div class="wizard-desc">Constructor, Propietario, Valor, Nombres</div>
              </div>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-wrapper">
              <div class="wizard-icon">
                <span
                  class="svg-icon svg-icon-primary svg-icon-3x"
                  [inlineSVG]="
                    './assets/media/svg/icons/Files/File.svg'"
                ></span>
              </div>
              <div class="wizard-label">
                <div class="wizard-title">Adjuntos</div>
                <div class="wizard-desc">Registro Público, Cédula, Certificación, Pasaporte</div>
              </div>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-wrapper">
              <div class="wizard-icon">
                <span
                  class="svg-icon svg-icon-primary svg-icon-3x"
                  [inlineSVG]="'./assets/media/svg/icons/General/Like.svg'"
                ></span>
              </div>
              <div class="wizard-label">
                <div class="wizard-title">Subsanar Solicitud</div>
                <div class="wizard-desc">Revisar y Enviar</div>
              </div>
            </div>
          </a>
        </div>
        <!--end: Form Wizard Nav -->
      </div>
      <div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
        <!--begin: Wizard Form-->
        <div class="row">
          <div class="offset-xxl-2 col-xxl-8">
            <!--begin: Form Wizard Form-->
            <form [formGroup]="formulario" class="form" id="kt_form">
            <!--begin: Form Wizard Step 1-->
            <div
            class="pb-5"
            data-wizard-type="step-content"
            data-wizard-state="current"
          >
            <h4 class="mb-10 font-weight-bold text-dark">
              Información del Proyecto
            </h4>
            <div class="kt-form__section kt-form__section--first">
              <div class="kt-wizard-v2__form">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group">
                      <label>Nombre del Proyecto</label>
                        <input type="text"
                               class="form-control"
                               name="nombreProyecto"
                               formControlName="nombreProyecto"
                               placeholder="Nombre del Proyecto"
                               [ngStyle]="subsanarNombreProyecto && (!formulario.controls['nombreProyecto'].touched || !formulario.controls['nombreProyecto'].dirty || !formulario.controls['nombreProyecto'].valid) && {'border-color': '#FF0000'}"
                               [readonly]="!subsanarNombreProyecto"/>
                        <div *ngIf="subsanarNombreProyecto && (!formulario.controls['nombreProyecto'].touched || !formulario.controls['nombreProyecto'].dirty || !formulario.controls['nombreProyecto'].valid)">
                          <div class="d-flex justify-content-end" style="color:#FF0000;">
                            <span>Subsanar Nombre del Proyecto</span> 
                          </div>
                        </div>
                    </div>
                  </div>
              </div>                  
                <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group">
                          <label>Descripción del Proyecto</label>
                          <textarea class="form-control"
                                    name="descripcionProyecto"
                                    formControlName="descripcionProyecto"
                                    [ngStyle]="subsanarDescripcionProyecto && (!formulario.controls['descripcionProyecto'].touched || !formulario.controls['descripcionProyecto'].dirty || !formulario.controls['descripcionProyecto'].valid) && {'border-color': '#FF0000'}"
                                    [readonly]="!subsanarDescripcionProyecto">
                          </textarea>
                          <div *ngIf="subsanarDescripcionProyecto && (!formulario.controls['descripcionProyecto'].touched || !formulario.controls['descripcionProyecto'].dirty || !formulario.controls['descripcionProyecto'].valid)">
                            <div class="d-flex justify-content-end" style="color:#FF0000;">
                              <span>Subsanar Descripción del Proyecto</span> 
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!--end: Form Wizard Step 1-->

              <!--begin: Form Wizard Step 2-->
              <div class="pb-5" data-wizard-type="step-content">
                <h4 class="mb-10 font-weight-bold text-dark">
                  Ubicación del Proyecto
                </h4>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group">
                      <label>Provincia:</label>
                      <select name="provincia"
                              formControlName="provincia"
                              class="form-control"
                              [ngStyle]="subsanarProvincia && (!formulario.controls['provincia'].touched || !formulario.controls['provincia'].dirty || !formulario.controls['provincia'].valid) && {'border-color': '#FF0000'}"
                              [(ngModel)]="indexProv"
                              #mySelectProv
                              (change)='getCargaDistritos(mySelectProv.value)'>
                          <option selected value="0">Seleccione una opción</option>
                          <option   [value]="i" *ngFor="let item of provincias;let i = index">
                                {{ item.nomProvincia }}
                          </option>
                      </select>
                      <div *ngIf="subsanarProvincia && (!formulario.controls['provincia'].touched || !formulario.controls['provincia'].dirty || !formulario.controls['provincia'].valid)">
                        <div class="d-flex justify-content-end" style="color:#FF0000;">
                          <span>Subsanar Provincia</span> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Distrito</label>
                      <select name="distrito"
                              formControlName="distrito"
                              class="form-control"
                              [ngStyle]="subsanarDistrito && (!formulario.controls['distrito'].touched || !formulario.controls['distrito'].dirty || !formulario.controls['distrito'].valid) && {'border-color': '#FF0000'}"
                              [(ngModel)]="indexDist"
                              #mySelectDist
                              (change)='getCargaCorregimientos(mySelectDist.value)'>
                          <option selected value="0">Seleccione una opción</option>
                          <option [value]="i" *ngFor="let item of distritos;let i = index">
                              {{ item.nomDistrito }}
                          </option>                      
                        </select>
                        <div *ngIf="subsanarDistrito && (!formulario.controls['distrito'].touched || !formulario.controls['distrito'].dirty || !formulario.controls['distrito'].valid)">
                          <div class="d-flex justify-content-end" style="color:#FF0000;">
                            <span>Subsanar Distrito</span> 
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Corregimiento:</label>
                      <select name="corregimiento"
                              formControlName="corregimiento"
                              class="form-control"
                              [ngStyle]="subsanarCorregimiento && (!formulario.controls['corregimiento'].touched || !formulario.controls['corregimiento'].dirty || !formulario.controls['corregimiento'].valid) && {'border-color': '#FF0000'}"
                              [(ngModel)]="indexCorr"
                              #mySelectCorr
                              (change)='getCarga(mySelectCorr.value)'>
                          <option selected value="0">Seleccione una opción</option>
                          <option [value]="i" *ngFor="let item of corregimientos;let i = index">
                              {{ item.nomCorregimiento }}
                          </option>                      
                        </select>
                        <div *ngIf="subsanarCorregimiento && (!formulario.controls['corregimiento'].touched || !formulario.controls['corregimiento'].dirty || !formulario.controls['corregimiento'].valid)">
                          <div class="d-flex justify-content-end" style="color:#FF0000;">
                            <span>Subsanar Distrito</span> 
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end: Form Wizard Step 2-->

              <!--begin: Form Wizard Step 3-->
              <div class="pb-5" data-wizard-type="step-content">
                <h4 class="mb-10 font-weight-bold text-dark">
                  Información del Lote o Terreno
                </h4>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <label>Tipo de Propiedad</label>
                  <select formControlName="tipoPropiedad"
                            name="tipoPropiedad"
                            class="form-control"
                            [disabled]="subsanarTipoPropiedad"
                            [ngStyle]="subsanarTipoPropiedad && (!formulario.controls['tipoPropiedad'].touched || !formulario.controls['tipoPropiedad'].dirty || !formulario.controls['tipoPropiedad'].valid) && {'border-color': '#FF0000'}"
                            [(ngModel)]="tipoProp"
                            (change)='getTipoPropiedad()'>
                      <option selected value="">Seleccione una opción</option>
                      <option [value]="i" *ngFor="let item of tipoPropiedad; let i = index">
                              {{ item.nombre }}
                      </option> 
                  </select>
                  <div *ngIf="subsanarTipoPropiedad && (!formulario.controls['tipoPropiedad'].touched || !formulario.controls['tipoPropiedad'].dirty || !formulario.controls['tipoPropiedad'].valid)">
                    <div class="d-flex justify-content-end" style="color:#FF0000;">
                      <span>Subsanar Tipo de Propiedad</span> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label>Código de Ubicación</label>
                  <input type="text"
                         class="form-control"
                         name="codigoUbicacion"
                         formControlName="codigoUbicacion"
                         placeholder="Código de Ubicación"
                         [ngStyle]="subsanarCodigoUbicacion && (!formulario.controls['codigoUbicacion'].touched || !formulario.controls['codigoUbicacion'].dirty || !formulario.controls['codigoUbicacion'].valid) && {'border-color': '#FF0000'}"
                         [readonly]="!subsanarCodigoUbicacion"/>
                         <div *ngIf="subsanarCodigoUbicacion && (!formulario.controls['codigoUbicacion'].touched || !formulario.controls['codigoUbicacion'].dirty || !formulario.controls['codigoUbicacion'].valid)">
                          <div class="d-flex justify-content-end" style="color:#FF0000;">
                            <span>Subsanar Codigo de Ubicacion</span> 
                          </div>
                        </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <label>Finca</label>
                  <input type="text"
                          class="form-control"
                          name="finca"
                          formControlName="finca"
                          placeholder="Finca"
                          [ngStyle]="subsanarFinca && (!formulario.controls['finca'].touched || !formulario.controls['finca'].dirty || !formulario.controls['finca'].valid) && {'border-color': '#FF0000'}"
                          [readonly]="!subsanarFinca"/>
                          <div *ngIf="subsanarFinca && (!formulario.controls['finca'].touched || !formulario.controls['finca'].dirty || !formulario.controls['finca'].valid)">
                            <div class="d-flex justify-content-end" style="color:#FF0000;">
                              <span>Subsanar Finca</span> 
                            </div>
                          </div>        
                </div>

              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label>Tomo</label>
                  <input type="text"
                          class="form-control"
                          name="tomo"
                          formControlName="tomo"
                          placeholder="Tomo"
                          [ngStyle]="subsanarTomo && (!formulario.controls['tomo'].touched || !formulario.controls['tomo'].dirty || !formulario.controls['tomo'].valid) && {'border-color': '#FF0000'}"
                          [readonly]="!subsanarTomo"/>
                          <div *ngIf="subsanarTomo && (!formulario.controls['tomo'].touched || !formulario.controls['tomo'].dirty || !formulario.controls['tomo'].valid)">
                            <div class="d-flex justify-content-end" style="color:#FF0000;">
                              <span>Subsanar Tomo</span> 
                            </div>
                          </div> 
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <label>Folio</label>
                  <input type="text"
                          class="form-control"
                          name="folio"
                          formControlName="folio"
                          placeholder="Folio"
                          [ngStyle]="subsanarFolio && (!formulario.controls['folio'].touched || !formulario.controls['folio'].dirty || !formulario.controls['folio'].valid) && {'border-color': '#FF0000'}"
                          [readonly]="!subsanarFolio"/>
                          <div *ngIf="subsanarFolio && (!formulario.controls['folio'].touched || !formulario.controls['folio'].dirty || !formulario.controls['folio'].valid)">
                            <div class="d-flex justify-content-end" style="color:#FF0000;">
                              <span>Subsanar Folio</span> 
                            </div>
                          </div>
                </div>

              </div>
              
            </div>


              </div>
              <!--end: Form Wizard Step 3-->

              <!--begin: Form Wizard Step 4-->
              <div class="pb-5" data-wizard-type="step-content">
                <h4 class="mb-10 font-weight-bold text-dark">
                  Datos de la Obra
                </h4>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Constructor responsable</label>
                      <input type="text"
                              class="form-control"
                              name="constructor"
                              formControlName="constructor"
                              placeholder="Constructor/empresa constructora"
                              [ngStyle]="subsanarConstructor && (!formulario.controls['constructor'].touched || !formulario.controls['constructor'].dirty || !formulario.controls['constructor'].valid) && {'border-color': '#FF0000'}"
                              [readonly]="!subsanarConstructor"/>
                              <div *ngIf="subsanarConstructor && (!formulario.controls['constructor'].touched || !formulario.controls['constructor'].dirty || !formulario.controls['constructor'].valid)">
                                <div class="d-flex justify-content-end" style="color:#FF0000;">
                                  <span>Subsanar Constructor Responsable</span> 
                                </div>
                              </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Propietario del terreno o Arrendador</label>
                      <input type="text"
                              class="form-control"
                              name="propietarioTerreno"
                              formControlName="propietarioTerreno"
                              placeholder="Nombre del propietario del terreno"
                              [ngStyle]="subsanarPropietarioTerreno && (!formulario.controls['propietarioTerreno'].touched || !formulario.controls['propietarioTerreno'].dirty || !formulario.controls['propietarioTerreno'].valid) && {'border-color': '#FF0000'}"
                              [readonly]="!subsanarPropietarioTerreno"/>
                              <div *ngIf="subsanarPropietarioTerreno && (!formulario.controls['propietarioTerreno'].touched || !formulario.controls['propietarioTerreno'].dirty || !formulario.controls['propietarioTerreno'].valid)">
                                <div class="d-flex justify-content-end" style="color:#FF0000;">
                                  <span>Subsanar Folio</span> 
                                </div>
                              </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Valor aproximado de la obra</label>
                      <input type="text"
                              class="form-control"
                              name="valorObra"
                              formControlName="valorObra"
                              placeholder="Valor aproximado de la obra"
                              [ngStyle]="subsanarValorObra && (!formulario.controls['valorObra'].touched || !formulario.controls['valorObra'].dirty || !formulario.controls['valorObra'].valid) && {'border-color': '#FF0000'}"
                              [readonly]="!subsanarValorObra"/>
                              <div *ngIf="subsanarValorObra && (!formulario.controls['valorObra'].touched || !formulario.controls['valorObra'].dirty || !formulario.controls['valorObra'].valid)">
                                <div class="d-flex justify-content-end" style="color:#FF0000;">
                                  <span>Subsanar Valor aproximado de la obra</span> 
                                </div>
                              </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Nombre profesional Idóneo</label>
                      <input type="text"
                              class="form-control"
                              name="nombreProfesionalIdoneo"
                              formControlName="nombreProfesionalIdoneo"
                              placeholder="Nombre del Profesional Idoneo"
                              [ngStyle]="subsanarNombreProfesionalIdoneo && (!formulario.controls['nombreProfesionalIdoneo'].touched || !formulario.controls['nombreProfesionalIdoneo'].dirty || !formulario.controls['nombreProfesionalIdoneo'].valid) && {'border-color': '#FF0000'}"
                              [readonly]="!subsanarNombreProfesionalIdoneo"/>
                              <div *ngIf="subsanarNombreProfesionalIdoneo && (!formulario.controls['nombreProfesionalIdoneo'].touched || !formulario.controls['nombreProfesionalIdoneo'].dirty || !formulario.controls['nombreProfesionalIdoneo'].valid)">
                                <div class="d-flex justify-content-end" style="color:#FF0000;">
                                  <span>Subsanar Nombre profesional Idóneo</span> 
                                </div>
                              </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>No. Idoneidad</label>
                      <input type="text"
                              class="form-control"
                              name="numeroIdoneidad"
                              formControlName="numeroIdoneidad"
                              placeholder="Numero Idoneidad"
                              [ngStyle]="subsanarnumeroIdoneidad && (!formulario.controls['numeroIdoneidad'].touched || !formulario.controls['numeroIdoneidad'].dirty || !formulario.controls['numeroIdoneidad'].valid) && {'border-color': '#FF0000'}"
                              [readonly]="!subsanarnumeroIdoneidad"/>
                              <div *ngIf="subsanarnumeroIdoneidad && (!formulario.controls['numeroIdoneidad'].touched || !formulario.controls['numeroIdoneidad'].dirty || !formulario.controls['numeroIdoneidad'].valid)">
                                <div class="d-flex justify-content-end" style="color:#FF0000;">
                                  <span>Subsanar No. Idoneidad</span> 
                                </div>
                              </div>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Nombre profesional Residente:</label>
                      <input type="text"
                              class="form-control"
                              name="nombreProfesionalResidente"
                              formControlName="nombreProfesionalResidente"
                              placeholder="Nombre del Profesional Residente"
                              [ngStyle]="subsanarNombreProfesionalResidente && (!formulario.controls['nombreProfesionalResidente'].touched || !formulario.controls['nombreProfesionalResidente'].dirty || !formulario.controls['nombreProfesionalResidente'].valid) && {'border-color': '#FF0000'}"
                              [readonly]="!subsanarNombreProfesionalResidente"/>
                              <div *ngIf="subsanarNombreProfesionalResidente && (!formulario.controls['nombreProfesionalResidente'].touched || !formulario.controls['nombreProfesionalResidente'].dirty || !formulario.controls['nombreProfesionalResidente'].valid)">
                                <div class="d-flex justify-content-end" style="color:#FF0000;">
                                  <span>Subsanar Nombre profesional Residente</span> 
                                </div>
                              </div>
                    </div>
                  </div>

                </div>
              </div>
              <!--end: Form Wizard Step 4-->

              <!--begin: Form Wizard Step 5-->
              <div class="pb-5" data-wizard-type="step-content">
                <h4 class="mb-10 font-weight-bold text-dark">
                 Adjuntos
                </h4>


                <div *ngIf="!subsanarRegistroPublico" class="row">
                  <div class="col-xl-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label>Registro Público</label>
                        </div>
                        <div class="col-md-4 text-center">
                          <button (click)="fileDownloadRegistro()">Descargar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="subsanarRegistroPublico" class="row">
                    <div class="col-xl-12">
                      <div class="form-group">
                        <label>Registro Público</label>
                        <div>
                          <input type="file"
                                 class="form-control"
                                 [ngStyle]="loadRegistro && {'background-color': '#e8f0fe'}"
                                 [ngStyle]="!loadRegistro && {'border-color': '#FF0000'}"
                                 formControlName="registroPublico"
                                 name="registroPublico"
                                 placeholder="Registro Público"
                                 (change)="fileChangeRegistro($event)"                              
                                 value="" accept=".png, .jpg, .jpeg, .pdf"/>
                                 <div *ngIf="subsanarRegistroPublico && !loadRegistro">
                                  <div class="d-flex justify-content-end" style="color:#FF0000;">
                                    <span>Subsanar Registro Público</span> 
                                  </div>
                                </div>
                        </div>  
                        <span class="form-text text-muted">
                          Copia de Certificado de Registro Público vigente. Subir el archivo en formato imagen o pdf 
                        </span>
                      </div>
                    </div>
                </div>


                <div *ngIf="!subsanarCertificacionIdonea" class="row">
                  <div class="col-xl-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label>Certificación del Idóneo </label>
                        </div>
                        <div class="col-md-4 text-center">
                          <button (click)="fileDownloadIdoneo()">Descargar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div *ngIf="subsanarCertificacionIdonea" class="row"> 
                  <div class="col-xl-12">
                    <div class="form-group">
                      <label>Certificación del Idóneo </label>                        
                      <input type="file"
                             class="form-control"
                             [ngStyle]="loadIdoneidad && {'background-color': '#e8f0fe'}"
                             [ngStyle]="!loadIdoneidad && {'border-color': '#FF0000'}"
                             formControlName="certificacionIdoneo"
                             name="certificacionIdoneo"
                             placeholder="Certificación del Idóneo"
                             (change)="fileChangeIdoneo($event)"
                             value="" accept=".png, .jpg, .jpeg, .pdf"/>
                             <div *ngIf="subsanarCertificacionIdonea && !loadIdoneidad">
                              <div class="d-flex justify-content-end" style="color:#FF0000;">
                                <span>Subsanar Certificación del Idóneo</span> 
                              </div>
                            </div>
                      <span class="form-text text-muted">
                        Copia del certificado original. Subir el archivo en formato imagen o pdf
                      </span>
                    </div>
                  </div>
                </div>


                <div *ngIf="!subsanarPlanos" class="row">
                  <div class="col-xl-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                            <label>Planos</label>
                        </div>
                        <div class="col-md-4 text-center">
                          <button (click)="fileDownloadPlanos()">Descargar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="subsanarPlanos" class="row">
                  <div class="col-xl-12">
                    <div class="form-group">
                      <label>Planos</label>                        
                      <input type="file"
                             class="form-control"
                             [ngStyle]="loadPLanos && {'background-color': '#e8f0fe'}"
                             [ngStyle]="!loadPLanos && {'border-color': '#FF0000'}"
                             formControlName="planos"
                             name="planos"
                             placeholder="Planos"
                             (change)="fileChangePlanos($event)"
                             value="" accept=".png, .jpg, .jpeg, .pdf"/>
                             <div *ngIf="subsanarPlanos && !loadPLanos">
                              <div class="d-flex justify-content-end" style="color:#FF0000;">
                                <span>Subsanar Planos</span> 
                              </div>
                            </div>
                      <span class="form-text text-muted">
                        Planos. Subir el archivo en formato imagen o pdf
                      </span>
                    </div>
                  </div>
                </div>



              </div>

              <div class="pb-5" data-wizard-type="step-content">
                <h4 class="mb-10 font-weight-bold text-dark">
                    Subsanar Solicitud
                </h4>
                <br>
                <br>                    
                <br>                    
              </div>
              <!--end: Form Wizard Step 6-->

              <!--begin: Form Actions -->
              <div class="d-flex justify-content-between border-top pt-10">
                <div class="mr-2">
                  <div
                    class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-prev"
                  >
                    Anterior
                  </div>
                </div>
                <div>
                  <button (click)="newSubsanacion()"
                          class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                          data-wizard-type="action-submit">
                          Enviar
                  </button>
                  <div
                    class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-next"
                  >
                    Siguiente
                  </div>
                </div>
              </div>
              <!--end: Form Actions -->
            </form>
            <!--end: Form Wizard Form-->
          </div>
        </div>
      </div>
    </div>
    <!--end: Wizard -->
  </div>
</div>
