.numberCircle {
    border-radius: 50%;
    width: 17px;
    height: 15px;
    padding: 2px;
    margin-right: 15px;
    border: 2px solid red;
    color: red;
    text-align: center;
    font: 8px Arial, sans-serif;
  }