<div class="card card-custom gutter-b">
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Información de Pago  - Subsanar  </h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">*(Solo para del contribuyente) </span>
      </div>
      <div class="card-toolbar">
        <a routerLink="/tramites/tramites-pendientes/tramites-pendientes"
           class="btn btn-light-danger font-weight-bold mr-2 text-uppercase px-9 py-4" 
           style="float:right">
        Cancelar
        </a>
      </div>
    </div>
    
    <div class="card-body">
        <div class="wizard-body ">
          
          <div class="row">
            <div class="offset-xxl-2 col-xxl-8">
              <form [formGroup]="formulario" class="form" id="kt_form">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="font-weight-bolder">Nombre del Proyecto</label>
                      <input type="text"
                            class="form-control"
                            name="nombreProyecto"
                            formControlName="nombreProyecto"
                            placeholder="Nombre del Proyecto"
                            value="" 
                            readonly/>
                    </div> 
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="font-weight-bolder">Monto total</label>
                      <input type="text"
                             class="form-control"
                             name="montoTotal"
                             formControlName="montoTotal"
                             placeholder="$12,123,456.78"
                             value="" 
                             readonly/>
                    </div>
                  </div>                
                </div>

        
        <div class="py-10" data-wizard-type="step-content">
              <h4 class="mb-10 font-weight-bold text-dark">Datos del pago</h4>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Número de recibo / depósito</label>
                    <input type="text"
                           class="form-control"
                           name="numeroRecibo"
                           formControlName="numeroRecibo"
                           placeholder="123a"
                           [ngStyle]="subsanarNumeroRecibo && (!formulario.controls['numeroRecibo'].touched || !formulario.controls['numeroRecibo'].dirty || !formulario.controls['numeroRecibo'].valid) && {'border-color': '#FF0000'}"
                           [readonly]="!subsanarNumeroRecibo"/>
                           <div *ngIf="subsanarNumeroRecibo && (!formulario.controls['numeroRecibo'].touched || !formulario.controls['numeroRecibo'].dirty || !formulario.controls['numeroRecibo'].valid)">
                            <div class="d-flex justify-content-end" style="color:#FF0000;">
                              <span>Subsanar Número de recibo / depósito</span> 
                            </div>
                          </div>                           
                  </div>
                </div>
                
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Fecha de Pago</label>
                    <input type="datetime-local"  
                           class="form-control"
                           name="fechaPago"
                           formControlName="fechaPago"
                           [ngStyle]="subsanarFechaPago && (!formulario.controls['fechaPago'].touched || !formulario.controls['fechaPago'].dirty || !formulario.controls['fechaPago'].valid) && {'border-color': '#FF0000'}"
                           [readonly]="!subsanarFechaPago"/>
                           <div *ngIf="subsanarFechaPago && (!formulario.controls['fechaPago'].touched || !formulario.controls['fechaPago'].dirty || !formulario.controls['fechaPago'].valid)">
                            <div class="d-flex justify-content-end" style="color:#FF0000;">
                              <span>Subsanar Fecha de Pago</span> 
                            </div>
                          </div>                           
                  </div>
                </div>
              </div> 

              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Monto del Pago</label>
                    <input type="text"
                           class="form-control"
                           name="montoPago"
                           formControlName="montoPago"
                           placeholder="456-123-789"
                           [ngStyle]="subsanarMontoPago && (!formulario.controls['montoPago'].touched || !formulario.controls['montoPago'].dirty || !formulario.controls['montoPago'].valid) && {'border-color': '#FF0000'}"
                           [readonly]="!subsanarMontoPago"/>
                           <div *ngIf="subsanarMontoPago && (!formulario.controls['montoPago'].touched || !formulario.controls['montoPago'].dirty || !formulario.controls['montoPago'].valid)">
                            <div class="d-flex justify-content-end" style="color:#FF0000;">
                              <span>Subsanar Monto del Pago</span> 
                            </div>
                          </div>                        
                  </div>
                </div>
                
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Nombre de la entidad o banco donde pagó</label>
                    <input type="text"
                           class="form-control"
                           name="bancoPago"
                           formControlName="bancoPago"
                           placeholder="12354-123132"
                           [ngStyle]="subsanarBanco && (!formulario.controls['bancoPago'].touched || !formulario.controls['bancoPago'].dirty || !formulario.controls['bancoPago'].valid) && {'border-color': '#FF0000'}"
                           [readonly]="!subsanarBanco"/>
                           <div *ngIf="subsanarBanco && (!formulario.controls['bancoPago'].touched || !formulario.controls['bancoPago'].dirty || !formulario.controls['bancoPago'].valid)">
                            <div class="d-flex justify-content-end" style="color:#FF0000;">
                              <span>Subsanar entidad o banco donde pagó</span> 
                            </div>
                          </div>                    
                  </div>
                </div>                
              </div>


              <div *ngIf="!subsanarComprobante" class="row">
                <div class="col-xl-8">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Comprobante de Pago</label>
                      </div>
                      <div class="col-md-4 text-center">
                        <button (click)="fileDownloadComprobante()">Descargar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>           


              <div *ngIf="subsanarComprobante" class="row">
                <div class="col-xl-12">
                  <div class="form-group">
                    <label>Comprobante de Pago</label>
                    <div>
                      <input type="file"
                             class="form-control"
                             [ngStyle]="loadComprobante && {'background-color': '#e8f0fe'}"
                             [ngStyle]="!loadComprobante && {'border-color': '#FF0000'}"
                             formControlName="comprobantePago"
                             name="comprobantePago"
                             placeholder="Comprobante de Pago"
                             (change)="fileChangeComprobante($event)"                              
                             value="" accept=".png, .jpg, .jpeg, .pdf"/>
                             <div *ngIf="subsanarComprobante && !loadComprobante">
                              <div class="d-flex justify-content-end" style="color:#FF0000;">
                                <span>Subsanar Comprobante de Pago</span> 
                              </div>
                            </div>
                    </div>  
                    <span class="form-text text-muted">
                      Comprobante de Pago
                    </span>
                  </div>
                </div>
            </div>
        </div>
        
          <div class="d-flex justify-content-between border-top pt-10">
            <div   div class="mr-2"></div>
            <div>
              <button (click)="newSubsanacionPago()"
                      class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                      data-wizard-type="action-submit"
                      >
                      Enviar
              </button>
            </div>
          </div>
      </form>
    
            </div>
          </div>
        </div>
    </div>
  </div>
  