<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Aprobación del trámite</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Pantalla Funcionario del Municipio</span>
      </div>
      <div class="card-toolbar">
        <a
        routerLink="/tramites/tramites-a-revisar/tramites-a-revisar"
        class="btn btn-light-danger font-weight-bold mr-2 text-uppercase px-9 py-4" style="float:right"
      >
        Cancelar
      </a>
      </div>
    </div>
    <!--end::Header-->
    <div class="card-body">
      <!--begin: Wizard -->
      <div
        #wizard
        class="wizard wizard-2"
        id="kt_wizard_v2"
        data-wizard-state="step-first"
      >
        <div class="wizard-nav border-right ">
          <!--begin: Form Wizard Nav -->
          <div class="wizard-steps">
            <a
              class="wizard-step"
              href="javascript:;"
              data-wizard-type="step"
              data-wizard-state="current"
            >
              <div class="wizard-wrapper">
                <div class="wizard-icon">
                  <span
                    class="svg-icon svg-icon-primary svg-icon-3x"
                    [inlineSVG]="'../../../assets/media/svg/icons/General/User.svg'"
                  ></span>
                </div>
                <div class="wizard-label">
                  <div class="wizard-title">Información del Proyecto</div>
                  <div class="wizard-desc">Nombre del proyecto, descripción del proyecto</div>
                </div>
              </div>
            </a>
            <a class="wizard-step" href="javascript:;" data-wizard-type="step">
              <div class="wizard-wrapper">
                <div class="wizard-icon">
                  <span
                    class="svg-icon svg-icon-primary svg-icon-3x"
                    [inlineSVG]="'./assets/media/svg/icons/Map/Compass.svg'"
                  ></span>
                </div>
                <div class="wizard-label">
                  <div class="wizard-title">Ubicación del Proyecto</div>
                  <div class="wizard-desc">Ubicación del Lote o Inmueble</div>
                </div>
              </div>
            </a>
            <a class="wizard-step" href="javascript:;" data-wizard-type="step">
              <div class="wizard-wrapper">
                <div class="wizard-icon">
                  <span
                    class="svg-icon svg-icon-primary svg-icon-3x"
                    [inlineSVG]="
                      '../../../assets/media/svg/icons/General/Thunder-move.svg'
                    "
                  ></span>
                </div>
                <div class="wizard-label">
                  <div class="wizard-title">Información del Lote o Terreno</div>
                  <div class="wizard-desc">Tipo de propiedad, código de ubicación, finca, tomo, folio</div>
                </div>
              </div>
            </a>
            <a class="wizard-step" href="javascript:;" data-wizard-type="step">
              <div class="wizard-wrapper">
                <div class="wizard-icon">
                  <span
                    class="svg-icon svg-icon-primary  svg-icon-3x"
                    [inlineSVG]="'./assets/media/svg/icons/Map/Position.svg'"
                  ></span>
                </div>
                <div class="wizard-label">
                  <div class="wizard-title">Datos de la Obra</div>
                  <div class="wizard-desc">Constructor, Propietario, Valor, Nombres</div>
                </div>
              </div>
            </a>
            <a class="wizard-step" href="javascript:;" data-wizard-type="step">
              <div class="wizard-wrapper">
                <div class="wizard-icon">
                  <span
                    class="svg-icon svg-icon-primary svg-icon-3x"
                    [inlineSVG]="
                      './assets/media/svg/icons/Files/File.svg'"
                  ></span>
                </div>
                <div class="wizard-label">
                  <div class="wizard-title">Adjuntos</div>
                  <div class="wizard-desc">Registro Público, Cédula, Certificación, Pasaporte</div>
                </div>
              </div>
            </a>
            <a class="wizard-step" href="javascript:;" data-wizard-type="step">
              <div class="wizard-wrapper">
                <div class="wizard-icon">
                  <span
                    class="svg-icon svg-icon-primary svg-icon-3x"
                    [inlineSVG]="'./assets/media/svg/icons/General/Like.svg'"
                  ></span>
                </div>
                <div class="wizard-label">
                  <div class="wizard-title">Completar Solicitud</div>
                  <div class="wizard-desc">Revisar y Enviar</div>
                </div>
              </div>
            </a>
          </div>
          <!--end: Form Wizard Nav -->
        </div>
        <div class="wizard-body ">
          <!--begin: Wizard Form-->
          <div class="row">
            <div class="offset-xxl-2 col-xxl-8">
              <!--begin: Form Wizard Form-->
              <form [formGroup]="formulario" class="form" id="kt_form">
              <!--begin: Form Wizard Step 1-->
              <div
              class="pb-5"
              data-wizard-type="step-content"
              data-wizard-state="current"
            >
              <h4 class="mb-10 font-weight-bold text-dark">
                Información del Proyecto
              </h4>
              <div class="kt-form__section kt-form__section--first">
                <div class="kt-wizard-v2__form">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group">
                        <label>Nombre del Proyecto</label>
                          <input
                          class="form-control"
                          name="nombre"
                          formControlName="nombre"
                          readonly
                        />
                        
                      </div>
                    </div>

                </div>                  
                  <div class="row">
                      <div class="col-xl-12">
                        <div class="form-group">
                            <label>Descripción del Proyecto</label>
                            <textarea 
                            class="form-control"
                            name="descripcion"
                            formControlName="descripcion"
                            readonly>
                            </textarea>  
                     
                        </div>
                      </div>

                      </div>
                  </div>

                </div>
              </div>
            <!--end: Form Wizard Step 1-->
  
                <!--begin: Form Wizard Step 2-->
                <div class="pb-5" data-wizard-type="step-content">
                  <h4 class="mb-10 font-weight-bold text-dark">
                    Ubicación del Proyecto
                  </h4>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group">
                        <label>Provincia:</label>
                        <input type="text"
                        class="form-control"
                        name="provincia"
                        formControlName="provincia"
                        readonly/>
                      </div>
                    </div>

                </div>
                  <div class="row">

                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Distrito</label>
                        <input type="text"
                        class="form-control"
                        name="distrito"
                        formControlName="distrito"
                        readonly/>
                      </div>
                    </div>

                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Corregimiento:</label>
                        <input type="text"
                        class="form-control"
                        name="corregimiento"
                        formControlName="corregimiento"
                        readonly/>
                      </div>
                    </div>

                  </div>
                </div>
                <!--end: Form Wizard Step 2-->
  
                <!--begin: Form Wizard Step 3-->
                <div class="pb-5" data-wizard-type="step-content">
                  <h4 class="mb-10 font-weight-bold text-dark">
                    Información del Lote o Terreno
                  </h4>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Tipo de Propiedad</label>
                    <input type="text"
                            class="form-control"
                            name="tipoPropiedad"
                            formControlName="tipoPropiedad"
                            readonly/>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Código de Ubicación</label>
                    <input
                          type="text"
                          class="form-control"
                          name="codigoUbicacion"
                          formControlName="codigoUbicacion"
                          readonly
                        />
                  </div>
                </div>

              </div> 

              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Finca</label>
                    <input
                          type="text"
                          class="form-control"
                          name="finca"
                          formControlName="finca"
                          readonly
                        />
                  </div>

                </div>
 
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Tomo</label>
                    <input
                    type="text"
                    class="form-control"
                    name="tomo"
                    formControlName="tomo"
                    readonly
                  />
                  </div>

                </div>

              </div>
              <div class="row">
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>Folio</label>
                    <input
                          type="text"
                          class="form-control"
                          name="folio"
                          formControlName="folio"
                          readonly
                        />
                  </div>

                </div>

                <div class="col-xl-6">

                </div>
                
              </div>


                </div>
                <!--end: Form Wizard Step 3-->
  
                <!--begin: Form Wizard Step 4-->
                <div class="pb-5" data-wizard-type="step-content">
                  <h4 class="mb-10 font-weight-bold text-dark">
                    Datos de la Obra
                  </h4>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Constructor responsable</label>
                        <input
                          type="text"
                          class="form-control"
                          name="constructor"
                          formControlName="constructor"
                          readonly
                        />
                      </div>
                    </div>

                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Propietario del terreno o Arrendador</label>
                        <input
                          type="text"
                          class="form-control"
                          name="propietarioTerreno"
                          formControlName="propietarioTerreno"
                          readonly
                        />
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Valor aproximado de la obra</label>
                        <input
                          type="text"
                          class="form-control"
                          name="valorObra"
                          formControlName="valorObra"
                          readonly
                        />
                      </div>
                    </div>
    
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Nombre profesional Idóneo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="nombreProfesionalIdoneo"
                          formControlName="nombreProfesionalIdoneo"
                          readonly
                        />
                      </div>
                    </div>
   
                  </div>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>No. Idoneidad</label>
                        <input
                          type="text"
                          class="form-control"
                          name="numeroIdoneidad"
                          formControlName="numeroIdoneidad"
                          readonly
                        />
                      </div>
                    </div>
  
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Nombre profesional Residente:</label>
                        <input
                        type="text"
                        class="form-control"
                        name="nombreProfesionalResidente"
                        formControlName="nombreProfesionalResidente"
                        readonly
                      />
                      </div>
                    </div>
 
                  </div>
                </div>
                <!--end: Form Wizard Step 4-->
  
             
                <!--begin: Form Wizard Step 5-->
                <div class="pb-5" data-wizard-type="step-content">
                  <h4 class="mb-10 font-weight-bold text-dark">
                   Adjuntos
                  </h4>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Registro Público</label>
                          </div>
                          <div class="col-md-4 text-center">
                            <button (click)="fileDownloadRegistro()">Descargar</button>
                          </div>
                        </div>
                      </div>
                    </div>                    
                  </div>


                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Certificación del Idóneo </label>
                          </div>
                          <div class="col-md-4 text-center">
                            <button (click)="fileDownloadIdoneo()">Descargar</button>
                          </div>
                        </div>
                      </div>
                    </div>                    
                  </div>                  


                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Planos </label>
                          </div>
                          <div class="col-md-4 text-center">
                            <button (click)="fileDownloadPlanos()">Descargar</button>
                          </div>
                        </div>
                      </div>
                    </div>                    
                  </div>                   
                </div>
                <!--end: Form Wizard Step 5-->
  
                <!--begin: Form Wizard Step 6-->
                <div class="pb-5" data-wizard-type="step-content">
             
                <label class="font-weight-bold text-dark">
                    Planos de construcción</label>
                        <div class="checkbox-inline border-top py-3">
                            <label class="checkbox  checkbox-danger">
                                <input type="checkbox" name="checkboxesRecibos"/>
                                <span></span>
                                Recibidos
                            </label>
                        </div>

                        <br>
                        <label class="font-weight-bold text-dark">
                            Inspección
                        </label>

                        <div class="row  border-top py-3">                          
                          <div class="col-xl-12">                                 
                            <div class="form-group ">
                              <label>Fecha</label>
                              <input type="datetime-local"  
                                      class="form-control"
                                      name="fechapago"
                                      formControlName="fechapago"
                                      id="Test_DatetimeLocal">
                            </div>
                          </div>
                          <div class="col-xl-12">
                            <div class="form-group">
                              <label>Informe de Inspeccion</label>
                              <div class="col-md-10">
                                <button (click)="fileDownloadInformeInspeccion()">Descargar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <label class="font-weight-bold text-dark">
                          Documentos y Sellos otras etidades  
                        </label>
                        <div class="checkbox-inline border-top py-3">
                            <label class="checkbox  checkbox-danger">
                              ¿Completo?
                                <input type="checkbox" checked="checked" name="Checkboxes1"/>
                                &nbsp; <span></span>
                              Si
                            </label>                          
                        </div>
                        <br>

                        <label class="font-weight-bold text-dark">
                            Información de pago
                        </label>

                        <div class="row  border-top py-3">
                            <div class="col-xl-4">                              
                              <div class="form-group ">
                                <label>Fecha</label>
                                <input type="datetime-local"  
                                       class="form-control"
                                       name="fechapago"
                                       formControlName="fechapago"
                                       id="Test_DatetimeLocal" disabled>                 
                              </div>
                            </div>
        
                            <div class="col-xl-4">
                              <div class="form-group">
                                <label>Monto</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="monto"
                                  formControlName="monto"
                                  placeholder="Viggo Tarasov"
                                  value="" disabled
                                />
                     
                              </div>
                            </div>
                         
                          </div>
                          <div class="row">
                            <div class="col-xl-12">
                              <div class="form-group">
                                <label>Comprobante</label>
                                <div class="col-md-10">
                                  <button (click)="fileDownloadComprobante()">Descargar</button>
                                </div>
                              </div>
                            </div>
                        </div>
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="form-group">
                            <label>Observaciones</label>
                            <textarea 
                              class="form-control"
                              name="observaciones"
                              formControlName="observaciones"
                              placeholder="Información general">
                          </textarea>
                          </div>
                        </div>
                      </div>
                    </div>
               
                <!--end: Form Wizard Step 6-->
  
                <!--begin: Form Actions -->
                <div class="d-flex justify-content-between border-top pt-10">
                  <div class="mr-2">
                    <div
                      class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                      data-wizard-type="action-prev"
                    >
                      Anterior
                    </div>
                  </div>
                  <div>
                    <button (click)="newAprobacion()"
                    class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-submit">
                    Enviar
                    </button>
                    <div
                      class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                      data-wizard-type="action-next"
                    >
                      Siguiente
                    </div>
                  </div>
                </div>
                <!--end: Form Actions -->
              </form>
              <!--end: Form Wizard Form-->
            </div>
          </div>
        </div>
      </div>
      <!--end: Wizard -->
    </div>
  </div>
  