<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div class="card-header py-3">
        <div class="card-title d-flex align-items-center">
            <h3 class="card-label font-weight-bolder text-dark">Perfil del Usuario</h3>            
        </div>
        
        <div class="card-toolbar">
            <a routerLink="/tramites/tramites-a-revisar/tramites-a-revisar"
                class="btn btn-light-danger font-weight-bold mr-2 text-uppercase px-9 py-4" 
                style="float:right">
                Cancelar
            </a>
        </div>
    </div>
    <!--end::Header-->

    <div class="card-body">
        <div class="wizard-body">
            <div class="row">
                <div class="offset-xxl-2 col-xxl-8">
                    <form [formGroup]="formulario" class="form" id="kt_form">

                        <div class="row">

                            <div class="col-md-4">
                              <div class="mt-10">
                                <div class="d-flex align-items-center justify-content-center">
                                  <p>
                                    <img width="150" height="150"
                                         name="avatar" id="avatar" 
                                         class="img-responsive rounded-circle" 
                                         src="../../../assets/avatar.png">
                                  </p>
                                </div>
  
                                <div class="mt-5 d-flex align-items-center justify-content-center">
                                  <button class="btn btn-primary btn-sm"
                                        (click)="subirAvatar()">    
                                        Subir Foto
                                  </button>
                                </div>
                              </div>                              

                              <div class="row mt-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                      <label class="font-weight-bolder">Provincia</label>
                                      <select name="provincia"
                                              formControlName="provincia"
                                              class="form-control"
                                              [(ngModel)]="indexProv"
                                              #mySelectProv
                                              (change)='getCargaDistritos(mySelectProv.value)'>
                                              <option selected value="-1">Seleccione una opción</option>
                                              <option   [value]="i" *ngFor="let item of provincias;let i = index">
                                                        {{ item.nomProvincia }}
                                              </option>
                                      </select>
                                    </div> 
                                </div>
                              </div>

                              <div class="row"> 
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Residencia</label>
                                    <input type="text"
                                           class="form-control"
                                           name="residencia"
                                           formControlName="residencia"
                                           placeholder="Residencia"
                                           value=""/>
                                  </div> 
                              </div>
                              </div>

                            </div>





                            <div class="col-md-8">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Nombre Completo</label>
                                    <input type="text"
                                           class="form-control"
                                           name="nombre"
                                           formControlName="nombre"
                                           placeholder="Nombre Completo"
                                           value=""
                                           readonly/>
                                  </div> 
                                </div>

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Número de Identificación</label>
                                    <input type="text"
                                           class="form-control"
                                           name="numeroID"
                                           formControlName="numeroID"
                                           placeholder="Número de Identificación"
                                           value=""
                                           readonly/>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Contraseña</label>
                                    <input type="text"
                                           class="form-control"
                                           name="password"
                                           formControlName="password"
                                           placeholder="Contraseña"
                                           value=""
                                           readonly/>
                                  </div> 
                                </div>
                                
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Correo Electrónico</label>
                                    <input type="text"
                                           class="form-control"
                                           name="email"
                                           formControlName="email"
                                           placeholder="Correo Electrónico"
                                           value=""
                                           readonly/>
                                  </div>
                                </div>
                              </div>


                              <div class="row" >
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Número de Contacto</label>
                                    <input type="number"
                                           min="0"
                                           autocomplete="off"
                                           oninput="validity.valid || (value='');"
                                           onKeyPress="if(this.value.length == 15) return false;"
                                           placeholder="1234567890"
                                           class="form-control"
                                           name="phone"
                                           formControlName="phone"
                                           placeholder="Número de Contacto"
                                           value=""/>
                                      <div *ngIf="formulario.controls['phone'].invalid && (formulario.controls['phone'].dirty || formulario.controls['phone'].touched)">
                                        <div class="d-flex justify-content-end" style="color:#FF0000;">
                                          <span>Se requiere el Número de Contacto</span> 
                                        </div>
                                      </div>         
                                  </div> 
                                </div>

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Dirección</label>
                                    <input type="text"
                                           minlength="1"
                                           maxlength="100"
                                           class="form-control"
                                           name="direccion"
                                           formControlName="direccion"
                                           autocomplete="off"
                                           placeholder="Dirección"
                                           value=""/>
                                  </div>
                                </div>
                              </div>

                              <div class="row">                            
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Distrito</label>
                                    <select name="distrito"
                                            formControlName="distrito"
                                            class="form-control"
                                            [(ngModel)]="indexDist"
                                            #mySelectDist
                                            (change)='getCargaCorregimientos(mySelectDist.value)'>
                                        <option selected value="-1">Seleccione una opción</option>
                                        <option [value]="i" *ngFor="let item of distritos;let i = index">
                                            {{ item.nomDistrito }}
                                        </option>                      
                                    </select>
                                  </div> 
                                </div>
                                
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Corregimiento</label>
                                    <select name="corregimiento"
                                            formControlName="corregimiento"
                                            class="form-control"
                                            [(ngModel)]="indexCorr"
                                            #mySelectCorr
                                            (change)='getCarga(mySelectCorr.value)'>
                                        <option selected value="-1">Seleccione una opción</option>
                                        <option [value]="i" *ngFor="let item of corregimientos;let i = index">
                                            {{ item.nomCorregimiento }}
                                        </option>                      
                                    </select>
                                  </div>
                                </div>                                                                                    
                              </div>

                              <div class="row" >
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Calle/Avenida</label>
                                    <input type="text"
                                           class="form-control"
                                           name="calle"
                                           formControlName="calle"
                                           placeholder="Calle/Avenida"
                                           value=""/>
                                  </div> 
                                </div>
                                
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="font-weight-bolder">Casa/Apto</label>
                                    <input type="text"                                                                              
                                           class="form-control"
                                           name="casa"
                                           formControlName="casa"                                       
                                           placeholder="Casa/Apto"
                                           value=""/>
                                  </div>
                                </div>
                              </div>
                            </div>

                            

                            
                            
                                            
                        </div>



                        
                        
                        <div class="row">
                            <div class="col-md-4">                                
                            </div>

                            
                            
                                            
                        </div>


                        <div class="row">
                            

                            
                            
                                            
                        </div>


                        <div class="row">
                            

                
                        </div>

                        <div class="d-flex justify-content-end border-top pt-10 pr-5">
                            <div>
                              <button (click)="editarUsuario()"
                                      class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                                      data-wizard-type="action-submit">
                                      Enviar
                              </button>                                                      
                            </div>
                        </div>

                    </form>
                </div>    
            </div>
        </div>
    </div>
</div>
    
    