input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .prueba{
    background-size: cover;
  }

  .rojo{
    font-size: 20px; 
    color: #ff0000;
  }

  
  .rojo-2{
    font-size: 11px; 
    color: #ff0000;
  }