<div class="login-form login-signup">

  <form class="form" [formGroup]="registrationForm" novalidate="novalidate" id="kt_login_signup_form" (ngSubmit)="submit()">
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
          Registro de nuevo usuario en la plataforma:
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
          Ingrese sus datos para crear su cuenta 
      </p>
    </div>
  
    
    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark">Tipo de Identificación</label>
          <select class="form-control form-control-lg form-control-solid" name="tipoID" formControlName="tipoID">
            <option data-offset="-39600" value="1">Cédula</option>
            <option data-offset="-39600" value="2">Pasaporte</option>
          </select>
    </div>

    <ng-container [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{ validation: 'required',
                                               message: 'Se requiere tipo de identificacion',
                                               control: registrationForm.controls['tipoID']}">
    </ng-container>   


    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark">Número de Identificación</label>
        <input  class="form-control form-control-lg form-control-solid"
                type="number"
                min="0"                
                oninput="validity.valid || (value='');"
                onKeyPress="if(this.value.length == 15) return false;"
                name="numeroID"
                formControlName="numeroID"
                placeholder="1234567890"
                autocomplete="off"
                [ngClass]="{ 'is-invalid': registrationForm.controls['numeroID'].invalid }"/>
        
          
        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'required',
                                                   message: 'Se requiere identificacion',
                                                   control: registrationForm.controls['numeroID']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'minlength',
                                                   message: 'La identificacion debe tener al menos 3 caracteres',
                                                   control: registrationForm.controls['numeroID']}">
        </ng-container>
    
        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'maxLength',
                                                   message: 'La identificacion debe tener un máximo de 100  caracteres',
                                                   control: registrationForm.controls['numeroID']}">
        </ng-container>
    </div>
  
    
    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark">Nombre</label>
        <input class="form-control form-control-lg form-control-solid"
               type="text"
               name="firstname"
               formControlName="firstname"
               placeholder="Nombre"
               autocomplete="off"
               [ngClass]="{'is-invalid': registrationForm.controls['firstname'].invalid }"/>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'required',
                                                   message: 'Se requiere el nombre',
                                                   control: registrationForm.controls['firstname']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'minlength',
                                                   message: 'El nombre completo debe tener al menos 3 caracteres',
                                                   control: registrationForm.controls['firstname']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'maxLength',
                                                   message: 'El nombre  debe tener un máximo de 100  caracteres',
                                                   control: registrationForm.controls['firstname']}">
        </ng-container>
    </div>


    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark">Apellido</label>
        <input class="form-control form-control-lg form-control-solid"
               type="text"
               name="lastname"
               formControlName="lastname"
               placeholder="Apellido"
               autocomplete="off"
               [ngClass]="{ 'is-invalid': registrationForm.controls['lastname'].invalid }"/>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'required',
                                                   message: 'Se requiere el apellido',
                                                   control: registrationForm.controls['lastname']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'minlength',
                                                   message: 'El apellido debe tener al menos 3 caracteres',
                                                   control: registrationForm.controls['lastname']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'maxLength',
                                                   message: 'El apellido debe tener un máximo de 100  caracteres',
                                                   control: registrationForm.controls['lastname']}">
        </ng-container>
    </div>
      
           
    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark">Número de contacto</label>  
        <input  class="form-control form-control-lg form-control-solid"                 
                matInput 
                type="number"
                min="0"                
                oninput="validity.valid || (value='');"
                onKeyPress="if(this.value.length == 15) return false;"
                placeholder="1234567890"
                name="phone"               
                formControlName="phone"
                autocomplete="off"
                [ngClass]="{'is-invalid': registrationForm.controls['phone'].invalid }">

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'required',
                                                   message: 'Se requiere Número de contacto',
                                                   control: registrationForm.controls['phone']}">
        </ng-container>                
    </div>
           

    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark">Correo electrónico </label>
        <input class="form-control form-control-lg form-control-solid"
               type="email"
               placeholder="correo@correo.com "
               name="email"
               formControlName="email"
               autocomplete="off"
               [ngClass]="{ 'is-invalid': registrationForm.controls['email'].invalid }"/>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'required',
                                                   message: 'Correo electronico es requerido',
                                                   control: registrationForm.controls['email']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'email',
                                                   message: 'El correo electrónico es invalido ',
                                                   control: registrationForm.controls['email']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'minlength',
                                                   message: 'El correo electrónico debe tener al menos 3 caracteres ',
                                                   control: registrationForm.controls['email']}">
        </ng-container>
      
        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'maxLength',
                                                   message: 'El correo electrónico debe tener un máximo de 360 caracteres',
                                                   control: registrationForm.controls['email']}">
        </ng-container>
        
        <p class="form-text text-muted pt-2"><a class="font-weight-bold cursor-pointer">
          Nota: </a> Debe tomar en cuenta que la direción de corrego ingresada, será a través de la cual se le enviaraán notificaciones desde la plataforma.
        </p>
    </div>
  

    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Contraseña</label>
        <input class="form-control form-control-lg form-control-solid"
               type="password"
               [ngModel]="clave"
               (keydown)="validatePassword($event)"
               placeholder="Contraseña"
               name="password"
               formControlName="password"                              
               autocomplete="off"
               [ngClass]="{ 'is-invalid': registrationForm.controls['password'].invalid}"/>
        
        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'required',
                                                   message: 'Se requiere contraseña',
                                                   control: registrationForm.controls['password']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'minlength',
                                                   message: 'La contraseña debe tener al menos 3  caracteres',
                                                   control: registrationForm.controls['password']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'maxLength',
                                                   message: 'La contraseña debe tener un máximo de 100  caracteres',
                                                   control: registrationForm.controls['password']}">
        </ng-container>
    </div>
    
    <div>
      <label>Contraseña Segura   <u class="text-primary" (click)="verRequerimientos()">Ver</u></label>
      <div *ngIf="ver">
        <div class="card">
          <div class="card-body">
            <label>La contraseña debe cumplir con los siguientes requerimientos:</label>  
            <ul class="ul">              
              <li [ngClass]="{'correcto':letraMayuscula,'incorrecto':!letraMayuscula}"><i [ngClass]="{'correcto':letraMayuscula,'incorrecto':!letraMayuscula}" class="far fa-check-circle"></i> Al menos una letra Mayúscula</li>
              <li [ngClass]="{'correcto':letraMinuscula,'incorrecto':!letraMinuscula}"><i [ngClass]="{'correcto':letraMinuscula,'incorrecto':!letraMinuscula}" class="far fa-check-circle"></i> Al menos una letra minúscula</li>
              <li [ngClass]="{'correcto':unNumero,'incorrecto':!unNumero}"><i [ngClass]="{'correcto':unNumero,'incorrecto':!unNumero}" class="far fa-check-circle"></i> Al menos un número</li>
              <li [ngClass]="{'correcto':unCaracter,'incorrecto':!unCaracter}"><i [ngClass]="{'correcto':unCaracter,'incorrecto':!unCaracter}" class="far fa-check-circle"></i> Al menos un caracter especial</li>
              <li [ngClass]="{'correcto':minimoCaracteres,'incorrecto':!minimoCaracteres}"><i [ngClass]="{'correcto':minimoCaracteres,'incorrecto':!minimoCaracteres}" class="far fa-check-circle"></i> Mínimo 8 caracteres</li>                            
              <li [ngClass]="{'correcto':maximoCaracteres,'incorrecto':!maximoCaracteres}"><i [ngClass]="{'correcto':maximoCaracteres,'incorrecto':!maximoCaracteres}" class="far fa-check-circle"></i> Máximo 20 caracteres</li>
            </ul>            
          </div>
        </div>        
      </div>
    </div>

    <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Confirmar contraseña</label>
        <input class="form-control form-control-lg form-control-solid"
               type="password"
               [ngModel]="cclave"
               placeholder="Confirmar contraseña"
               name="cPassword"
               autocomplete="off"
               formControlName="cPassword"
               [ngClass]="{'is-invalid': registrationForm.controls['cPassword'].invalid}"/>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'required',
                                                   message: 'Se requiere confirmación de contraseña ',
                                                   control: registrationForm.controls['cPassword']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'minlength', 
                                                   message: 'Confirmar contraseña debe tener al menos 3 caracteres',
                                                   control: registrationForm.controls['cPassword']}">
        </ng-container>

        <ng-container [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{ validation: 'maxLength',
                                                   message: 'Confirmar contraseña debe tener un máximo de 100 caracteres',
                                                   control: registrationForm.controls['cPassword']}">
        </ng-container>

        <ng-container *ngIf="registrationForm.controls['cPassword'].errors && registrationForm.controls['cPassword'].errors.ConfirmPassword">
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">
              'Contraseña' y 'Confirmar contraseña' no coinciden.
            </div>
          </div>
        </ng-container>
    </div>


    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
        <button type="submit"
                id="kt_login_signup_submit"
                [disabled]="registrationForm.invalid"
                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
                Registrar
        </button>


        <a routerLink="/auth/login"
           type="button"
           id="kt_login_signup_cancel"
           class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
           Cancelar
        </a>

        <ng-container *ngIf="isLoading$ | async">
            <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
    </div>
  
  </form>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>