<h1>Trámites Finalizados</h1>

<div class="example-preview">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Clasificador</th>
        <th scope="col">Nombre Trámite</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha Inicio</th>
      </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let item of tramitesFinalizados | slice:desde:hasta">            
            <td>{{ item.clasificador }}</td>
            <td>{{ item.nombre }}</td>
            <td *ngIf="item.nombreEstado == 'Aprobado'">
              <button class="btn btn-danger btn-sm" (click)="descargarPermiso(item.solicitudId)">
                Aprobado <i class="fas fa-arrow-circle-down"></i>
              </button>
            </td>
            <td *ngIf="item.nombreEstado !== 'Aprobado'">{{ item.nombreEstado }}</td>
            <td>{{ item.fechaInicio }}</td>
        </tr>         
    </tbody>
  </table>

  <mat-paginator [length]="tramitesFinalizados.length" 
                 [pageSize]="pageSize" 
                 (page)="cambiarpagina($event)">
  </mat-paginator>  
</div>