<h1>Trámites Finalizados</h1>

<div class="example-preview">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th [ngClass]="{'fondo':step === 1}" scope="col" (click)="sortClasificador('clasificador')">
            Clasificador
            <i *ngIf="!orderClasificador" class="fas fa-sort-up"></i>
            <i *ngIf="orderClasificador" class="fas fa-sort-down"></i>
          </th>

          <th [ngClass]="{'fondo':step === 2}" scope="col" (click)="sortNombreTramite('nombre')">
            Nombre Trámite
            <i *ngIf="!orderNombreTramite" class="fas fa-sort-up"></i>
            <i *ngIf="orderNombreTramite" class="fas fa-sort-down"></i>
          </th>

          <th [ngClass]="{'fondo':step === 3}" scope="col" (click)="sortNombre('nombreEstado')">
            Nombre
            <i *ngIf="!orderNombre" class="fas fa-sort-up"></i>
            <i *ngIf="orderNombre" class="fas fa-sort-down"></i>
          </th>

          <th [ngClass]="{'fondo':step === 4}" scope="col" (click)="sortFechaInicio('fechaInicio')">
            Fecha Inicio
            <i *ngIf="!orderFechaInicio" class="fas fa-sort-up"></i>
            <i *ngIf="orderFechaInicio" class="fas fa-sort-down"></i>
          </th>

        </tr>
      </thead>
      
      <tbody>
          <tr *ngFor="let item of tramitesFinalizados | slice:desde:hasta">            
              <td data-titulo="Clasificador: ">{{ item.clasificador }}</td>
              <td data-titulo="Nombre Trámite: ">{{ item.nombre }}</td>
              <td *ngIf="item.nombreEstado == 'Aprobado'" class="text-center">
                <button class="btn btn-danger btn-sm" (click)="descargarPermiso(item.solicitudId)">
                  Aprobado <i class="fas fa-arrow-circle-down"></i>
                </button>
              </td>
              <td *ngIf="item.nombreEstado !== 'Aprobado'" data-titulo="Nombre: ">{{ item.nombreEstado }}</td>
              <td data-titulo="Fecha Inicio: ">{{ item.fechaInicio }}</td>
          </tr>         
      </tbody>
    </table>
  </div>


  <mat-paginator [length]="tramitesFinalizados.length" 
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"  
                 (page)="cambiarpagina($event)">
  </mat-paginator>  
</div>