<h1>Tramites Finalizados</h1>

<div class="example-preview">

  <!--
  <div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter7($event.target.value)" placeholder="Buscar"/>
    </mat-form-field>
  </div>
  -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Clasificador</th>
        <th scope="col">Nombre Tramite</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha Inicio</th>
      </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let item of tramitesFinalizados | slice:desde:hasta">            
            <td>{{ item.clasificador }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.nombreEstado }}</td>
            <td>{{ item.fechaInicio }}</td>
        </tr>         
    </tbody>
  </table>

  <mat-paginator [length]="tramitesFinalizados.length" 
                 [pageSize]="pageSize" 
                 (page)="cambiarpagina($event)">
  </mat-paginator>  
</div>