<h1>Trámites a Revisar</h1>

<div class="example-preview">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th [ngClass]="{'fondo':step === 1}" scope="col" (click)="sortSolicitante('nombreSolicitante')">
            Solicitante
            <i *ngIf="!orderSolicitante" class="fas fa-sort-up"></i>
            <i *ngIf="orderSolicitante" class="fas fa-sort-down"></i>
          </th>

          <th [ngClass]="{'fondo':step === 2}" scope="col" (click)="sortID('clasificador')">
            ID Trámites
            <i *ngIf="!orderID" class="fas fa-sort-up"></i>
            <i *ngIf="orderID" class="fas fa-sort-down"></i>
          </th>
          
          <th [ngClass]="{'fondo':step === 3}" scope="col" (click)="sortTramite('nombre')">
            Trámite
            <i *ngIf="!orderTramite" class="fas fa-sort-up"></i>
            <i *ngIf="orderTramite" class="fas fa-sort-down"></i>
          </th>
          
          <th [ngClass]="{'fondo':step === 4}" scope="col" (click)="sortEstado('nombreEstado')">
            Estado
            <i *ngIf="!orderEstado" class="fas fa-sort-up"></i>
            <i *ngIf="orderEstado" class="fas fa-sort-down"></i>
          </th>
          
          <th [ngClass]="{'fondo':step === 5}" scope="col" (click)="sortFecha('fechaInicio')">
            Fecha Creación
            <i *ngIf="!orderFecha" class="fas fa-sort-up"></i>
            <i *ngIf="orderFecha" class="fas fa-sort-down"></i>
          </th>
          
          <th scope="col">Acción</th>
        </tr>
      </thead>
      
      <tbody>
          <tr *ngFor="let item of tramitesRevisar | slice:desde:hasta">
              <td data-titulo="Solicitante: ">{{ item.nombreSolicitante }}</td>
              <td data-titulo="ID Trámites: ">{{ item.clasificador }}</td>
              <td data-titulo="Trámite: ">{{ item.nombre }}</td>
              <td data-titulo="Estado: ">{{ item.nombreEstado }}</td>
              <td data-titulo="Fecha Creación:  ">{{ item.fechaInicio }}</td>
              <td data-titulo="Acción">
                <button (click)="revisarTramite(item.estadoTramiteId, item.revisionId, item.solicitudId)" 
                                      class="btn btn-primary font-weight-bold text-uppercase px-4 py-2">
                        Revisar
                </button>
              </td>
          </tr>         
      </tbody>
    </table>
  </div>


  <mat-paginator [length]="tramitesRevisar.length" 
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]" 
                 (page)="cambiarpagina($event)">
  </mat-paginator>  
</div>