<h1>Histórico de Trámites</h1>

<div class="example-preview">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        
        <tr>
          <th [ngClass]="{'fondo':step === 1}" scope="col" (click)="sortClasificador('clasificador')">
            Clasificador
            <i *ngIf="!orderClasificador" class="fas fa-sort-up"></i>
            <i *ngIf="orderClasificador" class="fas fa-sort-down"></i>
          </th>

          <th [ngClass]="{'fondo':step === 2}" scope="col" (click)="sortSolicitante('nombreSolicitante')">
            Nombre Solicitante
            <i *ngIf="!orderNombreSolicitante" class="fas fa-sort-up"></i>
            <i *ngIf="orderNombreSolicitante" class="fas fa-sort-down"></i>
          </th>

          <th [ngClass]="{'fondo':step === 3}" scope="col" (click)="sortNombreTramite('nombreTramite')">
            Nombre Trámite
            <i *ngIf="!orderNombreTramite" class="fas fa-sort-up"></i>
            <i *ngIf="orderNombreTramite" class="fas fa-sort-down"></i>
          </th>

          <th [ngClass]="{'fondo':step === 4}" scope="col" (click)="sortEstadoActual('nombre')">
            Estado Actual
            <i *ngIf="!orderEstadoActual" class="fas fa-sort-up"></i>
            <i *ngIf="orderEstadoActual" class="fas fa-sort-down"></i>
          </th>

          <th [ngClass]="{'fondo':step === 5}" scope="col" (click)="sortFechaInicio('fechaInicio')">
            Fecha Inicio
            <i *ngIf="!orderFechaInicio" class="fas fa-sort-up"></i>
            <i *ngIf="orderFechaInicio" class="fas fa-sort-down"></i>
          </th>
        </tr>

      </thead>
      
      <tbody>
          <tr *ngFor="let item of historicoTramites | slice:desde:hasta">
              <td data-titulo="Clasificador: ">{{ item.clasificador }} </td>
              <td data-titulo="Nombre Solicitante: ">{{ item.nombreSolicitante }}</td>
              <td data-titulo="Nombre Trámite: ">{{ item.nombreTramite }}</td>
              <td data-titulo="Estado Actual: ">{{ item.nombre }}</td>
              <td data-titulo="Fecha Inicio: ">{{ item.fechaInicio }}</td>
          </tr>         
      </tbody>
    </table>
  </div>    

    <mat-paginator [length]="historicoTramites.length" 
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]" 
                   (page)="cambiarpagina($event)">
    </mat-paginator>
  </div>