@media (max-width: 575.98px)and (orientation:portrait) {
    table{
        width: 100%;
        font-size: .9em;
    }
    table tr{
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }

    table td[data-titulo]{
        display: flex;
    }

    table td[data-titulo]::before{
        content: attr(data-titulo);
        width: 90px;
        
        font-weight: bold;
    }

    table th{
        border: none;
    }

    table thead{
        display: none;
    }
}

.table th {
    cursor: pointer;
}

.fondo{
    background: rgba(0, 0, 0, 0.1);
}