<div class="login-form login-signup">
  <form class="form" novalidate="novalidate" id="kt_login_signup_form">
    <h3><strong>Confirmaste tu cuenta correctamente!!!</strong></h3>
    <br>
    <h5>Usaras esta dirección de correo electronico para iniciar sesión.</h5>

    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
        <button type="submit"                
                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
                (click)="updateCorrecto()">
                Aceptar
        </button>
    </div>
  </form>
</div>