<div class="card card-custom gutter-b">
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Revisión de pago</h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">
        *(Funcionario Tesorería)
      </span>
    </div>

    <div class="card-toolbar">
      <a routerLink="/tramites/tramites-a-revisar/tramites-a-revisar" 
         class="btn btn-light-danger font-weight-bold mr-2 text-uppercase px-9 py-4"
         style="float: right">
          Cancelar
      </a>
    </div>
  </div>
  
  <div class="card-body">
    <div class="wizard-body">
      <div class="row">
        <div class="offset-xxl-2 col-xxl-8">

          <form [formGroup]="formulario" class="form" id="kt_form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bolder">Nombre del Proyecto</label>
                    <input type="text"
                          class="form-control"
                          name="nombre"
                          formControlName="nombre"
                          placeholder="Nombre del Proyecto"
                          value="" 
                          readonly/>
                  </div> 
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bolder">Monto total</label>
                    <input type="text"
                           class="form-control"
                           name="montototal"
                           formControlName="montototal"
                           placeholder="$12,123,456.78"
                           value="" 
                           readonly/>
                  </div>
                </div>                
              </div>
            


            <div class="py-5" data-wizard-type="step-content">
              <h4 class="mb-5 font-weight-bold text-dark">Datos del pago</h4>
              <div class="row">
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>Número de recibo / depósito</label>
                    <input
                      type="text"
                      class="form-control"
                      name="nrecibo"
                      
                      placeholder="123a"
                      value=""
                    />
                  </div>
                </div>
                <div class="col-xl-2">
                  <div class="form-group">
                       <span class="form-text text-muted"></span><br><br>
                           <div class="checkbox-inline">
                               <label class="checkbox  checkbox-danger">
                                   <input type="checkbox" name="Checkboxes1"/>
                                   <span></span>
                                   
                               </label>
                       
                           </div>
                   </div>
             </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>Fecha de pago</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      name="fechapago"
                      id="Test_DatetimeLocal"
                    />
                  </div>
                </div>
                <div class="col-xl-2">
                  <div class="form-group">
                       <span class="form-text text-muted"></span><br><br>
                           <div class="checkbox-inline">
                               <label class="checkbox  checkbox-danger">
                                   <input type="checkbox" name="Checkboxes1"/>
                                   <span></span>
                                   
                               </label>
                       
                           </div>
                   </div>
             </div>
              </div>

              <div class="row">
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>Monto del pago</label>
                    <input
                      type="text"
                      class="form-control"
                      name="montopago"
                      
                      placeholder="456-123-789"
                      value=""
                    />
                  </div>
                </div>
                <div class="col-xl-2">
                  <div class="form-group">
                       <span class="form-text text-muted"></span><br><br>
                           <div class="checkbox-inline">
                               <label class="checkbox  checkbox-danger">
                                   <input type="checkbox" name="Checkboxes1"/>
                                   <span></span>
                                   
                               </label>
                       
                           </div>
                   </div>
             </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>Nombre de la entidad o banco donde pagó</label>
                    <input
                      type="text"
                      class="form-control"
                      name="banco"
                      
                      placeholder="12354-123132"
                      value=""
                    />
                  </div>
                </div>
                <div class="col-xl-2">
                  <div class="form-group">
                       <span class="form-text text-muted"></span><br><br>
                           <div class="checkbox-inline">
                               <label class="checkbox  checkbox-danger">
                                   <input type="checkbox" name="Checkboxes1"/>
                                   <span></span>
                                   
                               </label>
                       
                           </div>
                   </div>
             </div>
              </div>
              <div class="row">
                <div class="col-xl-10">
                  <div class="form-group">
                    <label>Comprobante de Pago</label>
                    <input
                      type="file"
                      class="form-control"
                      name="pasaporte"
                      
                      placeholder="Pasaporte"
                      value=""
                      accept=".png, .jpg, .jpeg, .pdf"
                    />
                    <span class="form-text text-muted"
                      >Copia del comprobante de pago. Subir el
                      archivo en formato imagen o pdf</span
                    >
                  </div>
                </div>

                <div class="col-xl-2">
                  <div class="form-group">
                       <span class="form-text text-muted"></span><br><br>
                           <div class="checkbox-inline">
                               <label class="checkbox  checkbox-danger">
                                   <input type="checkbox" name="Checkboxes1"/>
                                   <span></span>
                                   
                               </label>
                       
                           </div>
                   </div>
             </div>
              </div>
            </div>
            <!--end: Form -->
            <!--begin: Form Actions -->
            <div class="d-flex justify-content-between border-top pt-10">
              <div div class="mr-2"></div>
              <div>
                <!--
                <div
                  (click)="onSubmit()"
                  class="
                    btn btn-success
                    font-weight-bold
                    text-uppercase
                    px-9
                    py-4
                  "
                  data-wizard-type="action-submit"
                >
                  Enviar
                </div>
                -->
                <button class="btn btn-success font-weight-bold text-uppercase px-9 py-4" 
                        (click)="newRevisonPago()">
                  Enviar
                </button>
              </div>
            </div>
            <!--end: Form Actions -->
          </form>
          <!--end: Form Wizard Form-->
        </div>
      </div>
    </div>

    <!--end: Wizard -->
  </div>
</div>
