<div class="card card-custom gutter-b">
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h3 class="card-label font-weight-bolder text-dark">Revisión de pago</h3>
      <span class="text-muted font-weight-bold font-size-sm mt-1">
        *(Funcionario Tesorería)
      </span>
    </div>

    <div class="card-toolbar">
      <a routerLink="/tramites/tramites-a-revisar/tramites-a-revisar" 
         class="btn btn-light-danger font-weight-bold mr-2 text-uppercase px-9 py-4"
         style="float: right">
          Cancelar
      </a>
    </div>
  </div>
  
  <div class="card-body">
    <div class="wizard-body">
      <div class="row">
        <div class="offset-xxl-2 col-xxl-8">
          <form [formGroup]="formulario" class="form" id="kt_form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bolder">Nombre del Proyecto</label>
                    <input type="text"
                          class="form-control"
                          name="nombre"
                          formControlName="nombre"
                          placeholder="Nombre del Proyecto"
                          value="" 
                          readonly/>
                  </div> 
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bolder">Monto Total</label>
                    <input type="text"
                           class="form-control"
                           name="montoTotal"
                           formControlName="montoTotal"
                           placeholder="$12,123,456.78"
                           value="" 
                           readonly/>
                  </div>
                </div>                
              </div>
            
              <div class="py-5" data-wizard-type="step-content">
                <h4 class="mb-5 font-weight-bold text-dark">Datos del pago</h4>
                <div class="row">
                  <div class="col-xl-4">
                    <div class="form-group">
                      <label>Número de recibo / depósito</label>
                      <input
                        type="text"
                        class="form-control"
                        name="numRecibo"
                        formControlName="numRecibo"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-xl-2">
                    <div class="form-group">
                        <span class="form-text text-muted"></span><br><br>
                            <div class="checkbox-inline">
                                <label class="checkbox  checkbox-danger">
                                    <input type="checkbox" name="checkboxNumRecibo" formControlName="checkboxNumRecibo"/>
                                    <span></span>
                                    
                                </label>
                        
                            </div>
                    </div>
              </div>
                  <div class="col-xl-4">
                    <div class="form-group">
                      <label>Fecha de pago</label>
                      <input
                        type="datetime-local"
                        class="form-control"
                        name="fechaPago"
                        formControlName="fechaPago"
                        id="Test_DatetimeLocal"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-xl-2">
                    <div class="form-group">
                        <span class="form-text text-muted"></span><br><br>
                            <div class="checkbox-inline">
                                <label class="checkbox  checkbox-danger">
                                    <input type="checkbox" name="checkboxFechaPago" formControlName="checkboxFechaPago"/>
                                    <span></span>
                                    
                                </label>
                        
                            </div>
                    </div>
              </div>
                </div>

                <div class="row">
                  <div class="col-xl-4">
                    <div class="form-group">
                      <label>Monto del pago</label>
                      <input
                        type="text"
                        class="form-control"
                        name="montoPago"
                        formControlName="montoPago"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-xl-2">
                    <div class="form-group">
                        <span class="form-text text-muted"></span><br><br>
                            <div class="checkbox-inline">
                                <label class="checkbox  checkbox-danger">
                                    <input type="checkbox" name="checkboxMontoPago" formControlName="checkboxMontoPago"/>
                                    <span></span>
                                    
                                </label>
                        
                            </div>
                    </div>
              </div>
                  <div class="col-xl-4">
                    <div class="form-group">
                      <label>Nombre de la entidad o banco donde pagó</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nombreEntidad"
                        formControlName="nombreEntidad"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-xl-2">
                    <div class="form-group">
                        <span class="form-text text-muted"></span><br><br>
                            <div class="checkbox-inline">
                                <label class="checkbox  checkbox-danger">
                                    <input type="checkbox" name="checkboxNombreEntidad" formControlName="checkboxNombreEntidad"/>
                                    <span></span>
                                    
                                </label>
                        
                            </div>
                    </div>
              </div>
                </div>
                <div class="row">

                  <div class="col-xl-4">
                    <div class="form-group">
                      <label>Comprobante de Pago</label>
                      <div class="col-md-10">
                        <button (click)="fileDownloadComprobante()">Descargar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <span class="form-text text-muted"></span><br><br>
                            <div class="checkbox-inline">
                                <label class="checkbox  checkbox-danger">
                                    <input type="checkbox" name="checkboxComprobantePago" formControlName="checkboxComprobantePago" />
                                    <span></span>
                                    
                                </label>
                        
                            </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="d-flex justify-content-between border-top pt-10">
                <div div class="mr-2"></div>
                <div>
                  <button class="btn btn-success font-weight-bold text-uppercase px-9 py-4" 
                          (click)="newRevisonPago()">
                    Enviar
                  </button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
