<div class="login-form login-signup">
    <form [formGroup]="formulario" class="form" id="kt_form" novalidate>
      <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Contraseña</label>
        <input class="form-control form-control-lg form-control-solid"
               type="password"
               placeholder="Contraseña"
               name="password"
               formControlName="password"
               autocomplete="off"/>
               <div *ngIf="formulario.controls['password'].invalid && (formulario.controls['password'].dirty || formulario.controls['password'].touched)">
                <div class="d-flex justify-content-end" style="color:#FF0000;">
                  <span>Se requiere la Contraseña</span> 
                </div>
               </div>
      </div>

      <div>
        <label>Contraseña Segura   <u class="text-primary" (click)="verRequerimientos()">Ver</u></label>
        <div *ngIf="ver">
          <div class="card">
            <div class="card-body">
              <label>La contraseña debe cumplir con los siguientes requerimientos:</label>  
              <ul class="ul">              
                <li [ngClass]="{'correcto':letraMayuscula,'incorrecto':!letraMayuscula}"><i [ngClass]="{'correcto':letraMayuscula,'incorrecto':!letraMayuscula}" class="far fa-check-circle"></i> Al menos una letra Mayuscula</li>
                <li [ngClass]="{'correcto':letraMinuscula,'incorrecto':!letraMinuscula}"><i [ngClass]="{'correcto':letraMinuscula,'incorrecto':!letraMinuscula}" class="far fa-check-circle"></i> Al menos una letra miniscula</li>
                <li [ngClass]="{'correcto':unNumero,'incorrecto':!unNumero}"><i [ngClass]="{'correcto':unNumero,'incorrecto':!unNumero}" class="far fa-check-circle"></i> Al menos un numero</li>
                <li [ngClass]="{'correcto':unCaracter,'incorrecto':!unCaracter}"><i [ngClass]="{'correcto':unCaracter,'incorrecto':!unCaracter}" class="far fa-check-circle"></i> Al menos un caracter especial</li>
                <li [ngClass]="{'correcto':minimoCaracteres,'incorrecto':!minimoCaracteres}"><i [ngClass]="{'correcto':minimoCaracteres,'incorrecto':!minimoCaracteres}" class="far fa-check-circle"></i> Minimo 8 caracteres</li>                            
                <li [ngClass]="{'correcto':maximoCaracteres,'incorrecto':!maximoCaracteres}"><i [ngClass]="{'correcto':maximoCaracteres,'incorrecto':!maximoCaracteres}" class="far fa-check-circle"></i> Maximo 20 caracteres</li>
              </ul>            
            </div>
          </div>        
        </div>
      </div>
        
      <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Confirmar contraseña</label>
        <input class="form-control form-control-lg form-control-solid"
               type="password"
               placeholder="Confirmar contraseña"
               name="cPassword"                
               formControlName="cPassword"
               autocomplete="off"/>
               <div *ngIf="formulario.controls['cPassword'].invalid && (formulario.controls['cPassword'].dirty || formulario.controls['cPassword'].touched)">
                 <div class="d-flex justify-content-end" style="color:#FF0000;">
                   <span>Se requiere confirmar la contraseña</span> 
                 </div>
               </div>                        
      </div>
        
      <div *ngIf="(formulario.controls['password'].dirty) && 
                  (formulario.controls['cPassword'].dirty) &&
                  (formulario.controls['password'].value != formulario.controls['cPassword'].value)">
        <div class="d-flex justify-content-end" style="color:#FF0000;">
          <span>Contraseña y Confirmar contraseña no coinciden.</span> 
        </div>
      </div>

      <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
        <button type="submit"
                id="kt_login_signup_submit"
                [disabled]="(formulario.invalid) || (formulario.controls['password'].value != formulario.controls['cPassword'].value)"
                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
                (click)="recuperarPassCorrecto()">
                Aceptar
        </button>
  
        <a routerLink="/auth/login"
           type="button"
           class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
           Cancelar
        </a>
      </div>
    </form>
</div>