<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Tarea de Inspección </h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Inspector/Topógrafo </span>
      </div>
      <div class="card-toolbar">
        <a routerLink="/tramites/tramites-a-revisar/tramites-a-revisar"
        class="btn btn-light-danger font-weight-bold mr-2 text-uppercase px-9 py-4" style="float:right">
          Cancelar
        </a>
      </div>
    </div>
    <!--end::Header-->
    
    <div class="card-body">
      <!--begin: Wizard -->
  
        <div class="wizard-body ">
          <!--begin:  Form-->
          <div class="row">
            <div class="offset-xxl-2 col-xxl-8">
              <!--begin: -->
              <form [formGroup]="formulario" class="form" id="kt_form">
                  <!--begin: monto Actions -->
                  <div class="d-flex justify-content-between border-bottom py-3">
                      <div class="mr-2">
                          <label class="font-weight-bolder">Nombre del Proyecto</label>
                          <input  type="text"
                                  class="form-control"
                                  name="nombreProyecto"
                                  formControlName="nombreProyecto"
                                  placeholder="Nombre del Proyecto"
                                  readonly/>
                      </div>
                  </div>
                  <!--end: monto Actions -->
                  
                  <!--begin: Form -->
                  <div class="py-5" data-wizard-type="step-content">
                      <h4 class="mb-5 font-weight-bold border-bottom py-2 text-dark">
                        Tarea de Inspección
                      </h4>
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="form-group">
                            <label >Inspección Aprobada</label><br>
                            <input type="radio" id="si" name="inspeccion" formControlName="inspeccion" [value]=true >&nbsp;
                            <label for="si"> Si</label>&nbsp;
                            <input type="radio" id="no" name="inspeccion" formControlName="inspeccion" [value]=false >&nbsp;
                            <label for="no"> No</label><br>
                          </div>
                        </div>
                      </div> 

                      <div class="row">
                        <div class="col-xl-12">
                          <div class="form-group">
                            <label>Observaciones</label>
                            <textarea 
                                      class="form-control"
                                      name="observaciones"
                                      formControlName="observaciones"
                                      placeholder="Observaciones">
                            </textarea>
                            <div *ngIf="formulario.controls['observaciones'].invalid && (formulario.controls['observaciones'].dirty || formulario.controls['observaciones'].touched)">
                              <div class="d-flex justify-content-end" style="color:#FF0000;">
                                <span>Se requiere la Observacion de la Inspeccion</span> 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              

                      <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group">
                                <label>Informe de Inspección</label>
                                <input type="file"
                                       class="form-control"
                                       [ngStyle]="loadInforme && {'background-color': '#e8f0fe'}"
                                       formControlName="informe"
                                       name="informe"
                                       placeholder="Informe de Inspección"
                                       (change)="fileChangeInforme($event)"                              
                                       value="" accept=".png, .jpg, .jpeg, .pdf"  />
                                <div *ngIf="formulario.controls['informe'].invalid && (formulario.controls['informe'].dirty || formulario.controls['informe'].touched)">
                                  <div class="d-flex justify-content-end" style="color:#FF0000;">
                                    <span>Se requiere el Informe de Inspeccion</span> 
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                <!--end: Form -->

                <!--begin: Form Actions -->
                <div class="d-flex justify-content-between border-top pt-5">
                  <div class="mr-2">
                  </div>

                  <div>
                      <button (click)="newRevisionInspeccion()"
                              class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                              [disabled]="formulario.invalid"
                              data-wizard-type="action-submit">
                              Enviar
                      </button>
                  </div>
                </div>
     
              </form>
    <!--end: Form Wizard Form-->
            </div>
          </div>
        </div>
      <!--end: Wizard -->
    </div>
  </div>
  