<h1>Trámites Disponibles</h1>

<div class="example-preview">
    <table class="table table-hover">
        <thead>
            <tr><th scope="col">Trámites</th></tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let item of tramites">
                <td>
                    <a class="letra" (click)="tramitesDisponibles(item.tramiteId)">
                        {{ item.nombre }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>