<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <a routerLink="/" class="brand-logo">
    <img alt="Logo" [attr.src]="headerLogo" />
  </a>
  

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
        <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-double-left.svg'"
              cacheSVG="true"
              class="svg-icon svg-icon-xl"
        >
        </span>
    </button>
  </ng-container>
</div>


<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
      <a routerLink="/"><img alt="Logo" [attr.src]="headerLogo" /></a>
  </ng-container>
  
  <div  id="kt_aside_menu"
        class="aside-menu"
        [ngClass]="asideMenuCSSClasses"
        data-menu-vertical="1"
        [attr.data-menu-scroll]="asideMenuScroll"
        [attr.data-menu-dropdown]="asideMenuDropdown"
        data-menu-dropdown-timeout="500">

        <ul class="menu-nav" [ngClass]="ulCSSClasses">
          
          <!--
          <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
              <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon">
              </span>
              <span class="menu-text" translate="MENU.DASHBOARD"></span>
            </a>
          </li>
          -->
          
          <li *ngIf="rol == 'SOL'" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="tramites/tramites-disponibles/tramites-disponibles" routerLinkActive="active">
              <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon">
              </span>    
              <span class="menu-text">Trámites Disponibles</span>
            </a>
          </li>


          <li *ngIf="rol == 'SOL'" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link">
            <!--
              <a class="menu-link" routerLink="tramites/tramites-pendientes/tramites-pendientes" routerLinkActive="active">
            -->
              <span [inlineSVG]="'./assets/media/svg/icons/Design/Adjust.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon">
              </span>
              <span class="menu-text">Trámites Pendientes </span>
            </a>
          </li>

          
          <li *ngIf="rol == 'SOL'" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link">
              <!--
              <a class="menu-link" routerLink="tramites/tramites-finalizados/tramites-finalizados" routerLinkActive="active">  
              -->
              <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon">
              </span>
              <span class="menu-text">Trámites Finalizados </span>
            </a>
          </li>

  
          <li *ngIf="rol == 'SOL'" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="tramites/mis-tramites/mis-tramites" routerLinkActive="active">
              <span [inlineSVG]="'./assets/media/svg/icons/Design/Interselect.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon">
              </span>
              <span class="menu-text">Mis Trámites </span>
            </a>
          </li>
    

          <li *ngIf="rol == 'REV'" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="tramites/tramites-a-revisar/tramites-a-revisar" routerLinkActive="active">
              <span [inlineSVG]="'./assets/media/svg/icons/Design/Edit.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon">
              </span>
              <span class="menu-text">Trámites a Revisar </span>
            </a>
          </li>

          <li *ngIf="rol == 'REV'" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
            <a class="menu-link" routerLink="tramites/tramites-a-revisar/tramites-a-revisar" routerLinkActive="active">
              <span [inlineSVG]="'./assets/media/svg/icons/Design/Interselect.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon">
              </span>
              <span class="menu-text">Historico de Tramites</span>
            </a>
          </li>
        </ul>
  </div>
</div>
