<h1 class="pb-3">Mis Trámites</h1>

<div class="example-preview">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" (click)="sortClasificador('clasificador')">            
            Clasificador
            <i *ngIf="!orderClasificador" class="fas fa-sort-up"></i>
            <i *ngIf="orderClasificador" class="fas fa-sort-down"></i>
          </th>
          <th scope="col" (click)="sortNombreTramite('nombreTramite')">
            Nombre Trámite
            <i *ngIf="!orderNombreTramite" class="fas fa-sort-up"></i>
            <i *ngIf="orderNombreTramite" class="fas fa-sort-down"></i>
          </th>
          <th scope="col" (click)="sortNombre('nombre')">
            Nombre
            <i *ngIf="!orderNombre" class="fas fa-sort-up"></i>
            <i *ngIf="orderNombre" class="fas fa-sort-down"></i>
          </th>
          <th scope="col" (click)="sortFechaInicio('fechaInicio')">
            Fecha Inicio
            <i *ngIf="!orderFechaInicio" class="fas fa-sort-up"></i>
            <i *ngIf="orderFechaInicio" class="fas fa-sort-down"></i>
          </th>
        </tr>
      </thead>
      
      <tbody>
          <tr *ngFor="let item of misTramites | slice:desde:hasta">
              <td data-titulo="Clasificador: ">{{ item.clasificador }}</td>
              <td data-titulo="Nombre Trámite: ">{{ item.nombreTramite }}</td>
              <td data-titulo="Nombre: ">{{ item.nombre }}</td>
              <td data-titulo="Fecha Inicio: ">{{ item.fechaInicio }}</td>
          </tr>         
      </tbody>
    </table>
  </div>

  <mat-paginator [length]="misTramites.length" 
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]" 
                 (page)="cambiarpagina($event)">
  </mat-paginator>
</div>