<h1>Mis Trámites</h1>

<div class="example-preview">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Clasificador</th>
          <th scope="col">Nombre Trámite</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha Inicio</th>
        </tr>
      </thead>
      
      <tbody>
          <tr *ngFor="let item of misTramites | slice:desde:hasta">
              <td>{{ item.clasificador }}</td>
              <td>{{ item.nombreTramite }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.fechaInicio }}</td>
          </tr>         
      </tbody>
    </table>

    <mat-paginator [length]="misTramites.length" [pageSize]="pageSize" (page)="cambiarpagina($event)">
    </mat-paginator>
  </div>